.login{
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100vh;
    flex-direction: column;
}
.login > img{
    margin-bottom: 100px;
}
.login > a{
    text-decoration: none;
    display: inline-block;
}

.login .btn-login{
    border: 2px solid white;
    border-radius: 100px;
    padding: 15px 40px;
    cursor: pointer;
    font-weight: 800;
    transition-duration: 0.25s;
    
}
.btn-login:hover{
    background-color: #1db954;
    border-color: #1C1C1F;
}